<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <!-- For semantic UI -->
    <script src="/static/js/jquery-1.12.2.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <!-- For HTML -->
    <meta charset="UTF-8">
    <title>机器作诗</title>
</head>
<body>

{% include "header.html" %}


<div class="ui centered grid">

    <div class="ui form">
        <div class="ui labeled input">
            <div class="ui label">请输入内容：</div>
            <input type="text" name="content" placeholder="一花一世界">
        </div>

        <div class="inline fields">
            <label>字数: </label>
            <div class="field">
                <div class="ui labeled radio checkbox">
                    <input type="radio" name="frequency" value="5" checked="checked"><label>5</label>
                </div>
            </div>
            <div class="field">
                <div class="ui labeled radio checkbox">
                    <input type="radio" name="frequency" value="7"><label>7</label>
                </div>
            </div>
        </div>

        <div class="inline fields">
            <label>藏的位置: </label>
            <div class="field">
                <div class="ui labeled radio checkbox">
                    <input type="radio" name="type" value="1" checked="checked"><label>藏头</label>
                </div>
            </div>
            <div class="field">
                <div class="ui labeled radio checkbox">
                    <input type="radio" name="type" value="2"><label>藏尾</label>
                </div>
            </div>
            <div class="field">
                <div class="ui labeled radio checkbox">
                    <input type="radio" name="type" value="3"><label>藏中</label>
                </div>
            </div>
            <div class="field">
                <div class="ui labeled radio checkbox">
                    <input type="radio" name="type" value="4"><label>递增</label>
                </div>
            </div>
            <div class="field">
                <div class="ui labeled radio checkbox">
                    <input type="radio" name="type" value="5"><label>递减</label>
                </div>
            </div>
        </div>

        <div class="inline fields">
            <label>押韵方式: </label>
            <div class="field">
                <div class="ui labeled radio checkbox">
                    <input type="radio" name="yayuntype" value="1" checked="checked"><label>双句一压
                </label>
                </div>
            </div>
            <div class="field">
                <div class="ui labeled radio checkbox">
                    <input type="radio" name="yayuntype" value="2"><label>双句押韵</label>
                </div>
            </div>
            <div class="field">
                <div class="ui labeled radio checkbox">
                    <input type="radio" name="yayuntype" value="3"><label>一三四押</label>
                </div>
            </div>
        </div>

        <button class="ui primary button" onclick="sumbmit()">生成</button>
    </div>

</div>


</body>
</html>

<script type="text/javascript">
    function submit() {
        //TODO: add modal layer
    }
</script>