<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!--link rel="stylesheet" type="/static/css" href="style.css" /-->
    <title>{{ center_entity }} 知识图谱</title>
    <script src="/static/js/d3.v3.js" charset="utf-8"></script>
    <script src="/static/js/jquery-1.12.2.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script src="/static/semantic/dist/semantic.min.js"></script>
</head>
<body onload="load()">
<script type="text/javascript">
    function load() {
        var user_level = $.cookie('user_level');
        refresh(6);
        refresh(user_level);
    }
</script>
<div style="background:url('/static/img/home_bg.jpg');">
    {% include "header.html" %}
    {% include "search.html" %}

    <div id="map" style="width:100%; height:100%;"></div>

    <script type="text/javascript">
        json = {{ json | safe }};
    </script>

    <script src="/static/js/data.js" charset="utf-8"></script>
    <script src="/static/js/graph.js" charset="utf-8"></script>
</div>
</body>
</html>

<div class="ui small long modal">
    <div id="modal_content"></div>
</div>
