<!DOCTYPE html>
<html lang="en">
<head>
    <!-- For semantic UI -->
    <script src="/static/js/jquery-1.12.2.min.js" charset="utf-8"></script>
    <script src="/static/js/jquery.cookie.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <!-- For HTML -->
    <meta charset="UTF-8">
    <title>PoemWorld</title>
</head>
<body>

<div class="ui container">
    <div class="ui hidden divider"></div>
</div>

<div class="zoomed masthead segment">
    <div class="three width column">
        <img class="ui medium centered image" src="/static/img/logo.png" />
    </div>
    <div class="ui container">
        <div class="ui hidden divider"></div>
    </div>
    <div class="ui center aligned container">
        <!--div class="introduction"-->
        <h1 class="ui center aligned header">
            诗界
        </h1>
        <div class="ui hidden divider"></div>
        <h2 class="ui center aligned header">
            基于知识图谱的古典诗词辅助阅读系统
        </h2>

        <div class="ui hidden divider"></div>
        <button class="ui huge download button" onclick="enter()">
            图观诗界
        </button>
        <div class="ui vertical hidden divider"></div>
        <a href="/analysis/" class="ui huge download button">
            机器鉴赏
        </a>
        <div class="ui vertical hidden divider"></div>
        <a href="/generatepoem/" class="ui huge download button">
            娱乐作诗
        </a>
    </div>
</div>

</body>
</html>

<div class="ui small modal">
    <div class="ui center aligned segment">
        <h3 class="ui segment">
            请选择您的身份
        </h3>
        <div class="ui divider"></div>
        <button class="ui button" onclick="jump(16)">新手入门</button>
        <button class="ui button" onclick="jump(12)">高手进阶</button>
        <button class="ui button" onclick="jump(6)">骨灰专家</button>
    </div>
</div>

<script type="text/javascript">
    function enter() {
        $('.ui.small.modal').modal('show');
    }

    function jump(level) {
        $.cookie('user_level', level);
        window.location.replace("/map/");
    }
</script>