<!DOCTYPE html>
<html>
<head>
    <!-- For semantic UI -->
    <script src="/static/js/jquery-1.12.2.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <!-- For HTML -->
    <script type="text/javascript" src="/static/js/modal.js"></script>
    <meta charset="UTF-8">
</head>
<body>

<div class="ui grid">
    <div class="ui two wide column"></div>
    <div class="ui twelve wide column">
        <div class="ui divider"></div>

        {% if entity_type == 'author' %}

            {% if author_head_thumb %}
                <img class="ui medium rounded image" src="{{ author_head_thumb | safe }}">
                <div class="ui divider"></div>
            {% endif %}

            <h3>{{ author_name | safe }}</h3>

            {% if author_belong %}
                <div class="ui label">
                    朝代:
                    <div class="detail">{{ author_belong | safe }}</div>
                </div>
            {% endif %}

            {% if author_birth or author_death %}
                <div class="ui piled segment">
                    {{ author_birth | safe }} - {{ author_death | safe }}
                </div>
            {% endif %}

            {% if author_desc %}
                <div class="ui piled segment">{{ author_desc | safe }}</div>
            {% endif %}

        {% endif %}

        {% if entity_type == 'poem' %}

            <div class="ui center aligned segment">
                <h3>{{ poem_name | safe }}</h3>
                {{ poem_content | safe }}
            </div>

            {% if poem_audio %}
                <div class="ui divider"></div>
                <div class="ui segment">
                    <h4>播放朗诵：</h4>
                    <audio controls="controls">
                        <source src="{{ poem_audio }}" type="audio/mp3" />
                        <!--source src="song.ogg" type="/static/audio/ogg" /-->
                        Your browser does not support this audio format.
                    </audio>
                </div>
            {% endif %}

            {% if poem_year %}
                <div class="ui divider"></div>
                <h4>创作时间：</h4>
                <a class="ui tag label">{{ poem_year | safe }}年</a>
            {% endif %}

            {% if poem_kind %}
                <div class="ui divider"></div>
                <h4>诗词分类：</h4>
                <a class="ui tag label">{{ poem_kind | safe }}</a>
            {% endif %}

            {% if poem_pinyin %}
                <div class="ui divider"></div>
                <h4>诗词注音：</h4>
                <div class="ui center aligned piled segment">{{ poem_pinyin | safe }}</div>
            {% endif %}

            {% if poem_analysis %}
                <div class="ui divider"></div>
                <h4>诗词赏析：</h4>
                <div class="ui piled segment">{{ poem_analysis | safe }}</div>
            {% endif %}

        {% endif %}

        {% if entity_type == 'image' %}

            <h3>{{ image_name | safe }}</h3>

            {% if image_emotion %}
                <div class="ui divider"></div>
                <div class="ui piled segment">
                    <h5>表达情感：</h5>
                    <p>{{ image_emotion | safe }}</p>
                </div>
            {% endif %}

            {% if images %}
                <div class="ui piled segment">
                    <h5>表达相同情感的意象：</h5>
                    {% for image in images %}
                        <li><p>{{ image | safe }}</p></li>
                    {% endfor %}
                </div>
            {% endif %}

        {% endif %}

        <div class="ui divider"></div>
    </div>
    <div class="ui two wide column"></div>
</div>

</body>