<!DOCTYPE html>
<html lang="en">
<head>
    <!-- For semantic UI -->
    <script src="/static/js/jquery-1.12.2.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <!-- For HTML -->
    <meta charset="UTF-8">
    <title>评分模型介绍</title>
</head>
<body>

{% include "header.html" %}

<div class="ui container">
    <div class="ui grid">
        <div class="ui ten wide column">
            <div class="ui segment">
                <h1 align="center"> 诗词评分算法介绍</h1>
                <p><font size="4">某一首诗词的评分权值来自以下三种途径:</font>
                <ul>
                    <li>历代选本入选次数。爬取100本诗集或词集的数据库。如果其中一本出现过1次，总数+1，权重50%</li>
                    <li>互联网关注程度。在百度搜索框上输入诗词名，观察记录显示的“相关结果”。由于波动较大，所以输入三次取平均值。权重30%</li>
                    <li>专家点评次数。根据《唐宋词汇评》来统计历代唐诗宋词的评点资料，每条评点资料按1次计算。权重20%。</li>
                </ul>
                <font size="4">所以算法公式为：<p></font>
                <ul>
                    <li>Point = （入选次数/100）*50%+（相关结果数/max相关结果数）*30%+(点评资料/max点评资料)*20%</li>
                </ul>
                <font size="4">相关统计数为：<p></font>
                <ul>
                    <li>max相关结果数：《水调歌头 明月几时有》4,270,000</li>
                    <li>max点评次数：  《声声慢》 41</li>
                </ul>
                <font size="4">以苏轼《念奴娇 赤壁怀古》为例<p></font>
                <ul>
                    <li>历代词集入选87次</li>
                    <li>百度显示相关结果3,230,000次</li>
                    <li>专家点评24次</li>
                </ul>
                <font size="4">point=(87/100)*50%+(3230000/4270000)*30%+(24/41)*20%=0.7778<p></font>
                <font size="4">经计算得分最小的一首诗为《浪淘沙 梦觉》得分0.02745<p></font>
                <font size="4">考虑到显示效果，拟令《浪淘沙 梦觉》得分放大到1，所有诗词得分乘比例系数36.423<p></font>
                <font size="4">最终得到《念奴娇 赤壁怀古》得分28.33<p></font>
            </div>
        </div>
        <div class="ui six wide column">
            <div class="ui segment">
                <h1 align="center">诗词排名榜（前十首）</h1>
                <ol align="center">
                    <font size="4">
                        <li>《念奴娇 赤壁怀古》苏轼：28.332</li>
                        <li>《黄鹤楼》崔颢：19.873</li>
                        <li>《满江红 怒发冲冠》岳飞：18.273</li>
                        <li>《送元二使安西》王维：12.199</li>
                        <li>《声声慢》李清照：11.634</li>
                        <li>《水调歌头 明月几时有》苏轼：11.416</li>
                        <li>《凉州词》王之涣：10.974</li>
                        <li>《雨霖铃 寒蝉凄切》刘永：10.826</li>
                        <li>《永遇乐 京口北古亭怀古》辛弃疾：10.474</li>
                        <li>《登鹳雀楼》王之涣：10.183</li>
                    </font>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>