<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toolbar</title>
</head>
<body>

<div class="ui grid">
    <div class="ui left floated six wide column">
        <form method="GET">
            <div class="ui fluid action input">
                <input type="text" placeholder="Search..." id="inputCondition">
                <div class="ui primary button" id="searchBtn" onclick="searchUrl()">搜索</div>
                <!--div class="ui button" id="searchBtn" onclick="generateUrl()">我要作诗</div-->
            </div>
        </form>
    </div>

    <div class="ui center floated six wide column">
        <form>
            <div class="ui right labeled input">
                <div class="ui label">显示权值大于</div>
                <input type="text" placeholder="请输入6-24之间的值" id="filterSize">
                <div class="ui label">的节点</div>
                <div class="ui primary button" id="filterBtn" onclick="filterNode()">确定</div>
                <!--div class="ui button" id="searchBtn" onclick="generateUrl()">我要作诗</div-->
            </div>
        </form>
    </div>

    <div class="ui right floated four wide column">
        <div class="ui icon buttons">
            <button class="ui toggle button" onclick="change_level(16)">入门</button>
            <button class="ui toggle button" onclick="change_level(12)">进阶</button>
            <button class="ui toggle button" onclick="change_level(6)">专家</button>
        </div>
    </div>
    <!--div class="ui vertical divider"></div-->
</div>

<script type="text/javascript">
    function change_level(user_level) {
        $.cookie('user_level', user_level);
        refresh(user_level);
    }
</script>

<div class="ui divider"></div>

</body>
</html>